.display {
    width: 40rem;
    background: #eee;
    aspect-ratio: 1/1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    animation-name: popup;
    animation-duration: 1s;
}

.display__play{
    position: absolute;
    height: 10rem;
    aspect-ratio: 1/1;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom right, #1565C0, #b92b27);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: 120%;
    transform: translate(50%,-50%) rotate(10deg);
    z-index: 1;
}

@keyframes popup{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}